.Rhistory

*.Rdata
*.RData
*.html
*.tex

.Rproj.user
.png
.html
.txt
.csv
.eps

# ignore all files in any directory
data/
figures/


R1/manuscript/supp_info/**_files/
R1/manuscript/supp_info/**_cache/

*.png
*.out

*.docx

*.pdf

**not_included/